doctype html
html(lang="en")
	head
		title Page title
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(src="js/scripts.js")
	body
		.wrap
			h1 Header
			h2 Subheader
			p Paragraph